* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

nav {
    background: yellow;
    height: 80px;
    width: 100%;
}

label {
    color: black;
    font-size: 55px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    font-family: 'Bangers', cursive;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}

nav ul li a {
    color: blue;
    font-size: 1.5rem;
    font-family: 'Bangers';
}

nav ul li a:hover {
    color: red;
}

.checkbtn {
    font-size: 30px;
    color: blue;
    float: right;
    line-height: 80px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.title {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: black;
        top: 80px;
        left: -100%;
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover, a.active {
        background: none;
        color: #0082e6;
    }

    #check:checked ~ ul {
        left: 0;
    }
}



main {
    min-height: 200px;
    overflow: auto;
    background-image: url(/images/21_3_fondo_comic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.secondary {
    borde: 2px blue solid;
    min-height: 180px;
    margin: 0.5rem;
}

aside {
    borde: 2px blue solid;
    min-height: 180px;
    margin: 0.5rem;
    min-width: 30%;
    float: right;
    width: 30%;
}

.main-section {
    borde: 2px green solid;
    min-height: 50px;
    margin: 0.5rem;
}

.main-section article {
    borde: 2px purple solid;
    margin: 0.5rem;
    min-height: 20px;
    padding: 20px;
}

img {
    width:100%;
    padding: 20px;
}

.gif {
    width: 50%;
}

.content {
    height: auto;
    float: left;
    width: 65%;
}

footer {
    background-color: rgb(33, 33, 222);
    min-height: 0px;
    width:inherit;
}

footer .box-uno {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    color: aliceblue;
    padding: 30px 30px;
}

.box-uno .box-left h2 {
    font-family: 'Bangers', cursive;
    margin-bottom: 15px;
}

.box-uno .box-center h2 {
    margin-bottom: 10%;
    font-family: 'Bangers', cursive;
}

.box-uno .box-center .media a {
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    width: 40px;
    height: 45px;
    line-height: 45px;
    margin-right: 10px;
    text-align: center;
}

.box-uno .box-center .media a:hover {
    color: red;
}

.box-center h2 {
    font-family: 'Bangers', cursive;
    text-align: left;
}

footer .box-dos {
    background-color: yellow;
    color: rgb(33, 33, 222);
    padding: 15px 10px;
    text-align: center;
}