* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    
}

nav {
    background: yellow;
    height: 80px;
    width: 100%;
}

label {
    color: black;
    font-size: 55px;
    line-height: 80px;
    padding: 0 40px;
    font-weight: bold;
    font-family: 'Bangers', cursive;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}

nav ul li a {
    color: blue;
    font-size: 1.5rem;
    font-family: 'Bangers';
}

nav ul li a:hover {
    color: red;
}

.checkbtn {
    font-size: 30px;
    color: blue;
    float: right;
    line-height: 80px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.title {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: black;
        top: 80px;
        left: -100%;
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover, a.active {
        background: none;
        color: #0082e6;
    }

    #check:checked ~ ul {
        left: 0;
    }
}


main {
    background-image: url(images/21_3_fondo_comic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
    width: 100%;
}


.slider-sp {
    position: relative;
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 40px;
}

.slider-sp .img-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    padding: 40px;
    display: flex;
    align-items: center;
    transition: 0.5s;
    z-index: 1;
}

.slider-sp input[type="radio"]:checked + .img-box {
    z-index: 10;
    clip-path: circle(1100px at center);
}

.slider-sp .img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
}

.slider-sp .img-box .content-imgs {
    position: relative;
    max-width: 650px;
}


.content-imgs h3 {
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
    line-height: 1.4em;
    color: white;
    margin-top: 1040px;
    padding: 50px;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.content-imgs a {
    position: relative;
    display: inline-block;
    background: #fff;
    padding: 10px 25px;
    margin-left: 40px;
    margin-bottom: 120px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    border-radius: 20px;
    background: red;
}

.slider-sp input[type="radio"] {
    position: relative;
    z-index: 1000;
    margin: 4px;
    margin-bottom: 40px;
    cursor: pointer;
}



.contenedor-main {
    display: grid;
    grid-template-rows: auto;
    padding: 40px;
    font-family: 'Poppins', sans-serif;
}

.cards {
    grid-template-columns: 20%;
    justify-content: space-between;
    margin: 20px;
    margin-top: 40px;
}

.cards h2 {
    margin: 30px;
}

.cards img {
    height: 400px;
    width: auto;
    margin-bottom: 40px;
    padding: 20px 30px;
}

.mas {
    padding: 10px;
    font-size: 1em;
    float: right;
    font-weight: bold;
    border-radius: 20px;
    border: 3px black solid;
    background: white;
    color: blue;
}

.coming-soon {
    display: grid;
    grid-template-columns: auto auto;
    justify-content:center;
    column-gap: 50px;
    padding: 30px 75px;
    margin: 50px 10px;
}

.coming-soon h2 {
    margin-bottom: 40px;
}

.coming-soon .descripcion {
    margin-bottom: 30px;
    text-align: justify;
    column-gap: 30px;
}

.funkos {
    margin: 40px;
    padding: 30px 50px;
}

.funkos img {
    width: 270px;
    height: auto;
    padding: 30px 15px;
}


.music {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    column-gap: 80px;
    margin: 50px 60px 80px 80px;
    padding: 50px 30px;
}


.cont-pelis-shows {
    display: grid;
}

.cont-pelis-shows .top-image img {
    width: 100%;
    margin-bottom: 30px;
}

.grid-pelis-shows {
    display: grid;
    grid-template-rows: auto;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

.clasicos {
    grid-template-columns: 20%;
    justify-content: space-between;
    margin: 30px;
    padding: 40px;
}

.clasicos img {
    height: 400px;
    width: auto;
    padding: 20px 20px;
}

.proximamente {
    margin: 20px;
    padding: 30px 40px;
}

.proximamente img {
    height: 450px;
    width: auto;
    padding: 20px 30px;
}

.podcast {
    display: grid;
    grid-template-columns: 45% 50%;
    justify-content: space-around;
    column-gap: 10px;
    margin: 20px;
    padding: 30px 40px;
}

.podcast img {
    height: 200px;
    margin-top: 20px;
}

.podcast iframe {
    margin-top: 30px;
}

.series {
    margin: 20px;
    padding: 30px 40px;
}

.series img {
    height: 350px;
    width: auto;
    padding: 20px 30px;
}

.animadas {
    margin: 20px;
    padding: 30px 40px;
}

.animadas img {    
    height: 370px;
    width: auto;
    padding: 20px 30px;
}

hr {
    width: 80%;
    margin: 0 auto;
}



footer {
    bottom: 0px;
    width: 100%;
    background: blue;
    position: inherit;
}

.contenedor {
    display: grid;
    grid-template-columns: 45% 35% auto;
    justify-content: space-around;
    padding: 30px;
}


.left h2 {
    font-weight: bold;
    font-family: 'Bangers';
    color: aliceblue;
}

.left p {
    margin: 20px 0 0 0;
    color: aliceblue;
    font-size: 1.3rem;
}

.center .social {
    margin: 20px;
}   

.center h2 {
    font-family: 'Bangers', cursive;
    color: aliceblue;
    letter-spacing: 1px;
}

.center .social a {
    padding: 15px 15px 20px;
    color: yellow;
    font-size: 30px;
    line-height: 50px;
}

.center .social a:hover {
    color: red;
}

.pie-pagina {
    background: yellow;
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: blue;
}

@media(max-width: 952px) {
    .contenedor {
        width: 50%;
        margin-bottom: 30px;
    }

    .right {
        display: none;
    }
}

@media(max-width: 574px) {
    .contenedor {
        width: 100%;
        margin-bottom: 30px;
    }

    .right {
        display: none;
    }
}
